[submodule "ribbon-bridge"]
	path = ribbon-bridge
	url = git@github.com:BaroboRobotics/ribbon-bridge.git
[submodule "libsfp"]
	path = libsfp
	url = git@github.com:BaroboRobotics/libsfp.git
[submodule "LwMesh"]
	path = LwMesh
	url = git@github.com:BaroboRobotics/LwMesh.git
[submodule "serial"]
	path = serial
	url = git@github.com:BaroboRobotics/serial.git
[submodule "linkbot-firmware"]
	path = linkbot-firmware
	url = git@github.com:BaroboRobotics/linkbot-firmware.git
[submodule "ribbon-bridge-interfaces"]
	path = ribbon-bridge-interfaces
	url = git@github.com:BaroboRobotics/ribbon-bridge-interfaces.git
