[submodule "DOF_firmware"]
	path = DOF_firmware
	url = git@github.com:Barobo/DOF_firmware.git
[submodule "ribbon-bridge"]
	path = ribbon-bridge
	url = git@github.com:harrishancock/ribbon-bridge.git
[submodule "libsfp"]
	path = libsfp
	url = git@github.com:BaroboRobotics/libsfp.git
[submodule "LwMesh"]
	path = LwMesh
	url = git@github.com:BaroboRobotics/LwMesh.git
